.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-haut {
    width: 5%;
    height: 60%;
    background-color: red;
}
#btn-bas {
    width: 5%;
    height: 60%;
    background-color: red;
}

.set {
    background-color: yellow;
}

.unset {
    background-color: white;
}